#root {
  height: 95vh;
  width: 100vw;

  margin: 0px;
  padding: 0px;
}

.TopBar {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.SideBar {
  float: left;

  height: 100%;
  width: 15%;
  padding: 10px 0px 0px 10px;
  overflow-x: auto;

  background: #efefef;
  border-right: 1px solid #ddd;
}

.Page {
  float: left;
  width: 80%;
  margin: 10px;
}
